html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

input:focus-visible {
  outline: none;
}

html, body {
  font-size: 16px;
}

*, button {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

h1, h2 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sr-only {
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  background-image: url(../assets/images/header-image.jpg);
  background-repeat: no-repeat;
  height: 667px;
  padding: 50px 70px;
}
.main-header__logo {
  width: 207px;
}
.main-header__title {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 170px;
  color: #FFD15B;
  font-size: 2.75rem;
  text-transform: uppercase;
  text-align: center;
}
.main-header__search-bar {
  max-width: 955px;
  height: 72px;
  margin: 0 auto;
  background-color: white;
  border-radius: 11px;
  padding: 10px;
  margin-top: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main-header__search-input {
  font-size: 1rem;
  color: #7A7A7A;
  padding: 25px;
  border: none;
  flex-grow: 1;
  cursor: pointer;
}
.main-header__close-search {
  width: 13px;
  height: 13px;
  margin-right: 1.0625rem;
  cursor: pointer;
  display: none;
}
.main-header__search-button {
  width: 52px;
  height: 52px;
  background-color: #1B1B1B;
  border-radius: 10px;
  padding: 12px;
}
.main-header__search-button:hover {
  background-color: #FFD15B;
}

.filters {
  height: 56px;
  position: relative;
}
.filters__main-title {
  color: #1B1B1B;
  font-size: 1.3125rem;
  margin-top: 17px;
  float: right;
}
.filters__list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 64px;
       column-gap: 64px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.filters__item {
  overflow: hidden;
  height: 56px;
  width: 195px;
  background-color: white;
  border-radius: 11px;
  padding: 0 16px;
}
.filters__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 17px 0;
  cursor: pointer;
}
.filters__title {
  color: #1B1B1B;
  font-size: 16px;
  font-weight: 500;
}
.filters__open {
  width: 13px;
  height: 6px;
}
.filters__search {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 36px;
  border: 1px solid #C6C6C6;
  border-radius: 2px;
  padding: 11px;
  margin-bottom: 1.5rem;
}
.filters__search__input {
  border: none;
  width: 100px;
}
.filters__close-search {
  width: 6px;
  height: 6px;
  margin-right: 4px;
  flex-shrink: 0;
  margin: 0 10px;
}
.filters__search__icon {
  width: 13.5px;
  height: 14px;
  flex-shrink: 0;
}

main {
  background-color: #EDEDED;
  padding: 20px 102px 200px;
}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 48px;
  padding-top: 55px;
}

.recipe {
  width: 380px;
  height: 730px;
  border-radius: 21px;
  overflow: hidden;
  position: relative;
}
.recipe__image {
  height: 253px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: block;
}
.recipe__time {
  font-size: 0.75rem;
  font-weight: 400;
  background-color: #FFD15B;
  width: 63px;
  height: 26px;
  line-height: 26px;
  border-radius: 14px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 21px;
  margin-right: 22px;
}
.recipe__description {
  height: 477px;
  background-color: white;
  padding: 30px 25px 60px;
}
.recipe__name {
  font-size: 1.125rem;
  color: black;
  margin-bottom: 30px;
}
.recipe__subtitle {
  font-size: 0.75rem;
  font-weight: 700;
  color: #7A7A7A;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.recipe__recipe {
  height: 76px;
  font-size: 0.875rem;
  color: #1B1B1B;
  overflow: hidden;
  margin-bottom: 32px;
}
.recipe .ingredient__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
}
.recipe .ingredient__item {
  flex: 1 0 40%;
  font-size: 0.875rem;
}
.recipe .ingredient__name {
  font-weight: 500;
  color: #1B1B1B;
}
.recipe .ingredient__quantity {
  font-weight: 400;
  color: #7A7A7A;
}/*# sourceMappingURL=style.css.map */