// ####### FILTERS #######

.filters {
    height: 56px;
    position: relative;

    &__main-title {
        color: $black;
        font-size: rem(21);
        margin-top: 17px;
        float: right;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        column-gap: 64px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__item {
        // overflow: hidden;
        // height: 56px;
        width: 195px;
        background-color: white;
        border-radius: 11px;
        padding: 0 16px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 17px 0;
        cursor: pointer;
    }

    &__title {
        color: $black;
        font-size: 16px;
        font-weight: $medium;
    }

    &__open {
        width: 13px;
        height: 6px;
    }

    &__search {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        height: 36px;
        border: 1px solid $light-grey;
        border-radius: 2px;
        padding: 11px;
        margin-bottom: rem(24);
    }

    &__search__input {
        border: none;
        width: 100px;
    }

    &__close-search {
        width: 6px;
        height: 6px;
        margin-right: 4px;
        flex-shrink: 0;
        margin: 0 10px;
    }

    &__search__icon {
        width: 13.5px;
        height: 14px;
        flex-shrink: 0;
    }



}