// ####### HEADER #######

.main-header {
    background-image: url(../assets/images/header-image.jpg);
    background-repeat: no-repeat;
    height: rem(667);
    padding: rem(50) rem(70);

    &__logo {
        width: 207px;
    }

    &__title {
        max-width: 700px;
        margin: 0 auto;
        margin-top: rem(170);
        color: $yellow;
        font-size: rem(44);
        text-transform: uppercase;
        text-align: center;
    }

    &__search-bar {
        max-width: 955px;
        height: 72px;
        margin: 0 auto;
        background-color: white;
        border-radius: 11px;
        padding: 10px;
        margin-top: rem(30);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__search-input {
        font-size: rem(16);
        color: $grey;
        padding: 25px;
        border: none;
        flex-grow: 1;
        cursor: pointer;
    }

    &__close-search {
        width: 13px;
        height: 13px;
        margin-right: rem(17);
        cursor: pointer;
        display: none;
    }

    &__search-button {
        width: 52px;
        height: 52px;
        background-color: $black;
        border-radius: 10px;
        padding: 12px;
    }

    &__search-button:hover {
        background-color: $yellow;
    }

}