// ####### COLORS #######
$yellow: #FFD15B;
$black: #1B1B1B;
$grey: #7A7A7A;
$light-grey: #C6C6C6;
$background: #EDEDED;

// ####### TYPOGRAPHIE #######
$base-font-size: 16px;
$title-font: "Anton", sans-serif;
$main-font: "Manrope", sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

// responsive font-size
@media screen and (max-width: 768px) {
    $base-font-size: 14px;
}